<!DOCTYPE html>
<html>
<head>
	<title>pdf</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<script type="text/javascript" src="javascripts/pdf.js"></script>
</head>
<body ng-app="pdfApp">
  <div class="container">
  	<div class="col-md-4 col-md-offset-4" ng-controller="pdfController">
  		<form class="form-group">
  			<input class="forn-control" type="" ng-model="pdfs.name">
  			<button class="btn btn-info" ng-click="pdf(pdfs)">download</button>
  		</form>
  	</div>
  </div>
</body>
</html>